<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Housing Prices</title>
</head>

<body>
    <header>
    	<div class="content">
    	<nav>
			<p class="brand"><a href="{{ url_for('home') }}">Housing<strong> Prices</strong></a></p>
			<ul>
            <li><a href="about.html">About</a></li>
          </ul>
            <img alt="logo" src="../static/logo1.png">
          </nav>
          <div class="header-block">
          	<div class="text">
                <h2>Equipe:</h2>
                <h3>Gustavo / Juan / Laís</h3>
          	</div>
          </div>
          </div>
        </header>
        <section class="gustavo" id="gustavo">
			<div class="content">
				<div class="gustavo-titulo">
					<h3>Gustavo</h3>
				</div>
				<div class="gustavo-info">
				<ul>
					<li>Autor: <strong> Gustavo Martins Pacheco</strong></li>
					<li>E-mail: <strong> gustavo.pacheco@aluno.ifsp.edu.br</strong></li>
					<li>Matrícula: <strong> HT3000231</strong></li>
				</ul>
				</div>
			</div>
        </section>
        <section class="juan" id="juan">
			<div class="content">
				<div class="juan-titulo">
					<h3>Juan</h3>
				</div>
				<div class="juan-info">
				<ul>
					<li>Autor: <strong> Juan Felipe Cavalari Bailke</strong></li>
					<li>E-mail: <strong> juan.bailke@aluno.ifsp.edu.br</strong></li>
					<li>Matrícula: <strong> HT3000796</strong></li>
				</ul>
				</div>
			</div>
        </section>
        <section class="lais" id="lais">
			<div class="content">
				<div class="lais-titulo">
					<h3>Laís</h3>
				</div>
				<div class="lais-info">
				<ul>
					<li>Autor: <strong> Laís Jaqueline da Silva Lopes</strong></li>
					<li>E-mail: <strong> lais.lopes@aluno.ifsp.edu.br</strong></li>
					<li>Matrícula: <strong> HT3000168</strong></li>
				</ul>
				</div>
			</div>
		</section>
<footer>
    <div class="main">
        <div class="content footer-instituto">
        <ul>
            <li><h4>Instituto Federal de São Paulo</h4></li>
            <li><h6>Avenida Thereza Ana Cecon Breda, s/n - Vila São Pedro</h6></li>
            <li><h6>Hortolândia-SP - Brasil - Cep: 13183-250</h6></li>
            <li><h6>Telefone: (19) 3865-8070</h6></li>
            <li><h6>Site oficial: hto.ifsp.edu.br</h6></li>
        </ul>
        </div>
    </div>
    <div class="last">Inteligência Artificial - 6º Semestre / Análise e Desenvolvimento de Sistemas</div>
</footer>

</body>

</html>

 